.celestinoTwitter {
    background-color: #3aa0f4 !important;
}

.uccellinoCeleste {
    color: #3aa0f4;
}

.footer1 {
    display: flex;
    justify-content: center;
    background-color: rgb(87, 81, 81);
}

.fontSizeP {
    font-size: 13px;
}

.coloreBgTweet {

    background-color: #f6f6f6 !important;
}

.profilePic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.number {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    background-color: #3aa0f4;
    color: white;
    font-size: 18px;
}


#postsContainer {
    height: 240px;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #3aa0f4;
    border-radius: 9px;
}