.celestinoTwitter {
    background-color: #3aa0f4 !important;
}

.uccellinoCeleste {
    color: #3aa0f4;
}

.footer1 {
    display: flex;
    justify-content: center;
    background-color: rgb(87, 81, 81);
}

.fontSizeP {
    font-size: 13px;
}

.coloreBgTweet {
    
    background-color: #f6f6f6 !important;
}